@inherits LayoutComponentBase
@inject Blazored.SessionStorage.ISessionStorageService session
@using CA2MusicTobyZedomi.Music

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="login"><button class="btn -btn-success" @onclick="LogOut">LogOut</button></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code {
    public User user;



    public void LogOut()
    {
        session.ClearAsync();
        user = new User();
    }
}