@page "/login"

@inject Blazored.SessionStorage.ISessionStorageService session
@using CA2MusicTobyZedomi.Music
@layout NoMenuLayout


<style>

    input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
       display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }

    button {
        background-color: #04AA6D;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        cursor: pointer;
        width: 100%;
    }

        button:hover {
            opacity: 0.8;
        }

    .container {
        padding: 16px;
    }

    span.psw {
        float: right;
        padding-top: 16px;
    }


</style>

<h3>Login Page</h3>




<div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username..." @bind="name">

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" @bind="password">

    <button @onclick="LoginUser">Login</button>

</div>
<a href="/"><button>Register</button></a>


@if (userList != null)
{

    for (int i = 0; i < userList.Count; i++)
    {
        @if (name.Equals(userList[i].Name) && password.Equals(userList[i].Password))
        {
            <a href="home"><button class="btn -btn-success">Click here Go To Home Page</button></a>
        }
        else
        {

        }

    }
}


@code {

    private List<User?> userList = new();
    private string? name;
    private string? password;

    public async Task LoginUser()
    {

        userList = await session.GetItemAsync<List<User>>("SessionUser");

    }
}


