@page "/"


@using CA2MusicTobyZedomi.Music
<h3>Login</h3>


<div class="container">
    
    <input placeholder="Enter Name..." @bind="name" />
    <input placeholder="Enter Password..." @bind="password" />
    
   <button @onclick="doLogin">Login</button>

    
</div>


<b></b>

@for(int i = 0; i < u.Count;i++)
{
    if(u[i].Name.Equals(name, StringComparison.InvariantCultureIgnoreCase) && u[i].Password.Equals(password))
    {

        <br />
        <a href="home"><button>Go to Home Page</button></a>
    }
    else
    {
       <p>Login Failed so regestier users</p>
    }
}

<br />

<br />

<div class="container">

    <input placeholder="Enter Name..." @bind="name1" />
    <input placeholder="Enter Email..." @bind="email1" />
    <input placeholder="Enter Password..." @bind="password1" />

    <button @onclick="doRegister">Register User</button>


</div>


@code {

    private string? name;
    private string? email;
    private string? password;
    private List<User?> u = new();


    private void doLogin()
    {
        u.Add(new User("Toby", "toby@gmail.com", "abc"));
        u.Add(new User("Sam", "sam@gmail.com", "abc"));
        u.Add(new User("John", "john@gmail.com", "abc"));

    }

    private string? name1;
    private string? email1;
    private string? password1;

    private void doRegister()
    {

        if (!string.IsNullOrWhiteSpace(name1) && !string.IsNullOrWhiteSpace(email1) && !string.IsNullOrWhiteSpace(password1))
        {

            User newUser = new User(name1, email1, password1);


           if (!CheckDuplicateUser(newUser))
            {
                u.Add(newUser);
            }

        }

        name1 = string.Empty;
        email1 = string.Empty;
        password1 = string.Empty;

    }


    public bool CheckDuplicateUser(User user)
    {

        foreach (var userToCompare in u)
        {
            if (userToCompare.Equals(user))
            {
                return true;
            }
        }

        return false;
    }



}
