@using CA2MusicTobyZedomi.Music
<h3>LyricPage</h3>


<style>
    table, th, td {
        border: 1px solid black;
    }
</style>

<h3>Artist Search</h3>
<input placeholder="Enter artist name..." @bind="artist" />
<input placeholder="Enter song name..." @bind="song" />
<button @onclick="searchLyric">Search Lyrics</button>


<ol>
    @if (race != null)
    {
            <p>
                @race.lyrics
            </p>
        
    }
</ol>



<!--

<ol>
    @if (a != null)
    {

        @foreach (var lyric in a)
        {
            <br />
                <li>@lyric.TheLyrics.lyrics</li>

            <br />

            <button @onclick="@(e => Delete(lyric))">
                Delete
            </button>
            <br />


        }
    }
</ol>

<br />


<button @onclick="SortComments">Sort Comment</button>

-->



@code {


    private string? artist;
    private string? song;
    private string? artistName;
    private List<Lyric?> a = new();


    private ArtistLyrics? race;


    private void searchLyric()
    {

        race = MusicService.GetLyrics(artist, song);

        /*

        if (!string.IsNullOrWhiteSpace(artist) && !string.IsNullOrWhiteSpace(song))
        {

            Lyric newLyric = new Lyric(artist, song, artistName);


            if (!CheckDuplicateComment(newLyric))
            {
                a.Add(newLyric);
            }

        }

        artist = string.Empty;
        song = string.Empty;
        artistName = string.Empty;

        */



    }



    public bool CheckDuplicateComment(Lyric lyric1)
    {

        foreach (var lyricToCompare in a)
        {
            if (lyricToCompare.Equals(lyric1))
            {
                return true;
            }
        }

        return false;
    }


    private void SortComments()
    {
        a.Sort();
    }


    private void Delete(Lyric lyric1)
    {
        a.Remove(lyric1);
    }

}
